// Card
.card {
  display: flex;
  border-radius: $border-m;
  padding: $spacing-md;
  background-color: $secondary-color-low-op;
  // max-width: pxToRem(800);
  box-shadow: $box-shadow;
  overflow: hidden;

  &__image {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    margin-bottom: $spacing-xs;
    .card__title {
      font-size: $f-size-lg;
      margin-bottom: $spacing-xs;
      color: $third-color;
    }

    .card__text {
      font-size: $f-size-base;
      color: $text-light-color;
      font-weight: 300;
    }
  }

  @media (min-width: 500px) {
    flex-direction: row;

    &__image{
      flex: 1;

      img {
        transform: translateX(25%) scale(1.3);
        max-height: 190px;
      }
    }

    &__content{
      flex: 2;
      height: fit-content;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;

    &__image{
      margin-top: -25%;
      transform: translate(15%, 35%);
    }
  }

  &.full-img{
    padding: 0;
    background-color: $third-color;

    .card__image {
      justify-content: center;

      img {
        transform: translateX(0) scale(1);
        max-height: unset;
        opacity: 0.7;
      }
    }
    .card__content {
      display: none;
    }
  }

  &.with-img{
    flex-direction: column-reverse;
    padding: 0;

    .card__content{
      flex: 1;
      padding: $spacing-md;
    }

    .card__image {
      flex: 1.5;
      justify-content: center;
      background-color: $third-color;

      img{
        transform: translateX(0) scale(1);
        max-height: unset;
        opacity: 0.7;
      }
    }
  }
}
