.curvy-sect{
  box-shadow: none!important;


  .card__image{
    position: relative;
    .secondary-btn{
      position: absolute;
      bottom: -16px;
      right: -16px;
      border: 16px solid $background-light;
      border-radius: 2rem;
      text-transform: uppercase;

      &::before{
        content: "";
        position: absolute;
        z-index: 50;
        left: -55px;
        bottom: 0px;
        width: 40px;
        height: 22px;
        background-color: transparent;
        border-bottom-right-radius: 24px;
        box-shadow: 15px 2px #FFFFFF;
      }

      &::after{
        content: "";
        position: absolute;
        z-index: 50;
        right: -1px;
        top: -37px;
        width: 40px;
        height: 22px;
        background-color: transparent;
        border-bottom-right-radius: 24px;
        box-shadow: 15px 8px $background-light;
      }
    }
  }
}
