.row{
  display: flex;
  gap: $spacing-xxl;

  & + .row{
    margin-top: $spacing-xxl;
  }

  .card {
    flex: 1;
    min-height: 11.25rem;
  }

  @media (max-width: $breakpoint-sm) {
    flex-wrap: wrap;
  }
}
