{{ range where site.RegularPages "Section" "about_yanagestion" }}
  <section class="about_yanagestion">
    <div class="tag">
      <span>Yana Gestion, c’est quoi ?</span>
    </div>

    <div class="main-grid">
      <div class="col">
        {{ partial "card.html" (dict "title" .Params.card_1.title "content" .Params.card_1.text) }}
        {{ partial "card.html" (dict "className" "full-img" "image" .Params.card_2.full_image ) }}
      </div>
      <div class="col">
        {{ partial "card.html" (dict "title" .Params.card_3.title "content" .Params.card_3.text) }}
        <section class="curvy-sect card full-img">
          <div class="card__image">
            <img src="{{ .Params.card_4.full_image }}" alt="decorative image">
            <a href="#contact" class="secondary-btn">{{ .Params.card_4.cta }}</a>
          </div>
        </section>
      </div>
      <div class="col">
        {{ partial "card.html" (dict "className" "with-img" "title" .Params.card_5.title "content" .Params.card_5.text "image" .Params.card_5.image) }}
      </div>
    </div>
  </section>
{{ end }}
