<section class="about_yanagestion">
  <div class="main-grid">
    <div class="col">
      {{ partial "card.html" (dict "title" "Yana Gestion, une entreprise locale" "content" "Pour des entrepreneur·e·s et artisan·e·s local·e·s !") }}
      {{ partial "card.html" (dict "className" "full-img" "image" "https://fastly.picsum.photos/id/247/800/500.jpg?hmac=lcnWNpuOQ5fJK04ITM4j_lglgySwnba9kxkny0-_Hk8") }}
    </div>
    <div class="col">
      {{ partial "card.html" (dict "title" "Un besoin criant chez les entrepreneur·s·euses Antillo-Guyanais·es !" "content" "Curabitur mollis ex lobortis lectus ultricies, sed sagittis dui laoreet. Sed in lacinia sapien. Cras blandit condimentum augue nec vulputate. Fusce ornare ex eu volutpat finibus. Aenean sagittis odio et magna cursus semper.") }}
      {{ partial "card.html" (dict "className" "full-img" "image" "https://fastly.picsum.photos/id/247/800/500.jpg?hmac=lcnWNpuOQ5fJK04ITM4j_lglgySwnba9kxkny0-_Hk8") }}
    </div>
    <div class="col">
      {{ partial "card.html" (dict "title" "Notre Objectif ?" "content" "Curabitur mollis ex lobortis lectus ultricies, sed sagittis dui laoreet. Sed in lacinia sapien. Cras blandit condimentum augue nec vulputate. Fusce ornare ex eu volutpat finibus. Aenean sagittis odio et magna cursus semper.") }}
    </div>
  </div>
</section>
