{{ range where site.RegularPages "Section" "contact" }}
  <section class="contact two-part-sect">
    <div class="left">
      <div class="content">
        <h2 class="sect__title">{{ .Params.title }}</h2>
        <p class="sect__description">{{ .Params.text }}</p>
      </div>
    </div>
    <div class="right">
      <div class="row form-img">
        <form name="contact" method="POST" netlify>
          <input type="hidden" name="form-name" value="contact" />

          <div class="form__main-content">

            <div class="switch__container">
              <input type="checkbox" name="is_auto_or_pme" id="is_auto_or_pme" class="switch">
              <label for="is_auto_or_pme">
                <span>Auto-entrepreneur.euse</span>
                <span>PME</span>
              </label>
            </div>



            <input type="email" name="mail" id="mail" placeholder="Adresse mail">
            <div class="row">
              <input type="text" name="compagny" id="compagny" placeholder="Nom de ton entreprise" required>
              <input type="tel" name="phone" id="phone" placeholder="Numéro de tel." required>
            </div>
            <textarea name="message" id="message" placeholder="Expliques nous ton besoin !" rows="5" cols="15" required></textarea>
          </div>

          <div class="action">
            <button type="submit" class="primary-btn blue" data-text="Valider"><img src="/media/icons/arrow.svg" alt=""></button>
          </div>
        </form>
        {{ partial "card.html" (dict "className" "full-img" "image" .Params.full_image ) }}
      </div>
    </div>
  </section>
{{ end }}
