{{ range where site.RegularPages "Section" "hero" }}
    <header class="hero">
      <div class="main-content">
        <img src="/media/logos/yanaGestion_logo.png" alt="logo Yana Gestion">
        <h1 class="hero__title">{{ .Params.title }}</h1>
      </div>

      <form action="POST" class="quick-contact">
        <input type="tel" name="quick_tel" id="quick_tel" placeholder='{{ .Params.placeholder_tel }}'>
        <button class="secondary-btn" type="submit">Envoyer</button>
      </form>
    </header>
{{ end }}
