{{ range where site.RegularPages "Section" "our_services" }}
  <section class="our_services two-part-sect">
    <div class="left">
      <div class="content">
        <h2 class="sect__title">{{ .Params.title }}</h2>
        <p class="sect__description">{{ .Params.text }}</p>
      </div>

      <a href="tel:+" class="primary-btn" data-text="{{ .Params.aside_our_services.cta_tel}}"><img src="/media/icons/phone-solid.svg" alt=""></a>
    </div>
    <div class="right">
      <div class="row">
        {{ partial "card.html" (dict "title" .Params.card_1.title "content" .Params.card_1.text) }}
        {{ partial "card.html" (dict "title" .Params.card_2.title "content" .Params.card_2.text) }}
      </div>
      <div class="row">
        {{ partial "card.html" (dict "title" .Params.card_3.title "content" .Params.card_3.text) }}
      </div>
    </div>
  </section>
{{ end }}
