<section class="our_services two-part-sect">
  <div class="left">
    <div class="content">
      <h2 class="sect__title">{{ .title }}</h2>
      <p class="sect__description">{{ .description }}</p>
    </div>

    <a href="tel:+" class="primary-btn" data-text="Appelons nous"><img src="/media/icons/phone-solid.svg" alt=""></a>
  </div>
  <div class="right">
    <div class="row">
      {{ partial "card.html" (dict "title" "On s’occupe de tes relances clients" "content" "Curabitur mollis ex lobortis lectus ultricies, sed sagittis dui laoreet. Sed in lacinia sapien. Cras blandit condimentum augue nec vulputate. Fusce ornare ex eu volutpat finibus. Aenean sagittis odio et magna cursus semper.") }}
      {{ partial "card.html" (dict "title" "On s’occupe de gérer l’administration de ton entreprise " "content" "Curabitur mollis ex lobortis lectus ultricies, sed sagittis dui laoreet. Sed in lacinia sapien. Cras blandit condimentum augue nec vulputate. Fusce ornare ex eu volutpat finibus. Aenean sagittis odio et magna cursus semper.") }}
    </div>
    <div class="row">
      {{ partial "card.html" (dict "title" "On s’occupe de gérer tes tâches comptables et financières " "content" "Curabitur mollis ex lobortis lectus ultricies, sed sagittis dui laoreet. Sed in lacinia sapien. Cras blandit condimentum augue nec vulputate. Fusce ornare ex eu volutpat finibus. Aenean sagittis odio et magna cursus semper.") }}
    </div>
  </div>
</section>
