.about_yanagestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;
  margin: pxToRem(128) 0 pxToRem(128) 0;

  .main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: pxToRem(32);

    .col{
      display: flex;
      flex-direction: column;
      gap: pxToRem(32);

      .card.full-img, .card.with-img{
        height: -webkit-fill-available;
        height: -moz-available;
        height: fill-available;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-xxxl;

    .main-grid{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: pxToRem(32);
    }
  }
}
