.contact{
  .right{
    form{
      flex: 1.25;

      input + .row{
        margin: $spacing-xl 0 $spacing-xl 0;
      }

      .switch__container{
        margin-bottom: $spacing-xl;
      }

      .row{
        gap: $spacing-xs;
      }

      .action{
        display: flex;
        justify-content: flex-end;
        margin-top:  $spacing-xl;

        button{
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            width: pxToRem(24);
            height: pxToRem(24);
          }
        }
      }
    }

    .card{
      flex: 1;
    }
  }
}
