.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: clamp(pxToRem(64), 8vw, pxToRem(160));
  min-height: 45vh;

  .main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .hero__title{
      font-size: $f-size-xxxl;
      font-weight: bold;
      width: 30ch;
      text-transform: uppercase;
      color: $third-color;
      text-align: center;
    }
  }

  .quick-contact{
    z-index: $z-index-high;
    margin-top: auto;
    transform: translateY(50%);
  }
}
