.our_services{
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xxl;
  padding: $spacing-xxxl;
  padding-top: clamp(pxToRem(64), 10vw, pxToRem(224));
  background: $background-gradient;
  border-radius: $border-lg;

  .left{
    display: flex;
    flex-direction: column;
    flex: 1;

    .primary-btn{
      margin-top: auto;
    }
  }

  .right{
    flex: 3;
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}
