{{ define "main" }}
  {{ partial "hero.html" (dict "title" "Pas de panique, on s’occupe du plus relou !") }}
  {{ partial "our_services.html" (dict "title" "Il te faut l’aide de Yana Gestion" "description" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam sapien metus, id viverra enim porttitor eu.") }}
  {{ partial "about_yanagestion.html" }}
  {{ partial "contact.html" (dict "title" "Et si on collaborait ? " "description" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam sapien metus, id viverra enim porttitor eu.") }}
{{ end }}
